/* Asegúrate de que el contenedor principal ocupe toda la altura de la pantalla */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.d-flex {
  height: 100%; /* Asegura que el contenedor principal ocupe todo el alto */
  display: flex;
  flex-direction: column;
}

.footer-container {
  flex-shrink: 0; /* Evita que el footer se encoja */
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 50vh; /* Cambia height por min-height */
  background: linear-gradient(to right, #5e2d20, #5f3021, #4e261c, #583320);
}

/* Alineación de la ilustración y la frase a la izquierda */
.illustration-container {
  display: flex;
  align-items: center; /* Centra verticalmente la imagen y la frase */
  margin-left: -15%; /* Mueve el contenedor más a la izquierda */
  margin-right: 5%; /* Agrega espacio a la derecha del contenedor de ilustración */
}

.illustration-container img {
  max-width: 340px; /* Ajusta el tamaño de la imagen */
  width: 100%; /* Asegura que la imagen se ajuste correctamente */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 5px; /* Espacio entre la imagen y la frase */
  margin-top: 10%; /* Ajuste de la imagen para alinearla mejor */
}


.fragaria-phrase {
  font-size: 1.5rem; 
  white-space: nowrap;
  color: #F5F5DC;
  font-family: 'Montserrat', sans-serif;
}

.fragaria-part1 {
  display: block; /* Hace que la primera parte se muestre en una línea */
}

.fragaria-part2 {
  display: block; /* Hace que la segunda parte se muestre en una línea nueva */
  margin-top: 10px; /* Puedes ajustar el espacio entre las dos partes */
}

